name: Build Binaries
on: [push, pull_request]

jobs:
  build-lin64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependenncies
        run: sudo apt-get install -y build-essential git make gcc-avr avr-libc libelf-dev freeglut3-dev patchelf
      - name: CI-Build
        run: |
	  ln -s /usr/lib/avr/include/avr/ simavr/cores/avr
          make build-simavr V=1 RELEASE=1
          mkdir simavr_installed
          make  install RELEASE=1 DESTDIR=$(pwd)/simavr_installed/
          file simavr_installed/bin/*
          patchelf --remove-needed ./libsimavr.so.1 simavr_installed/bin/simavr || true
          patchelf --add-needed libsimavr.so.1 simavr_installed/bin/simavr
          patchelf --set-rpath '$ORIGIN/../lib/' simavr_installed/bin/simavr
          ldd simavr_installed/bin/*
          simavr_installed/bin/simavr --list-cores || true
      - name: Tar files
        run: tar -cvf simavr.tar.gz -C simavr_installed .
      - uses: actions/upload-artifact@v3
        with:
          name: Linux 64-bit
          path: simavr.tar.gz
